<!DOCTYPE html>
<html lang="en">

<head>
    <title>Mantenimiento SIGEPE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->

    <!--  -->

</head>
<br><br>



<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4 ">
        <div class="card">
            <img src="assets/images/localidad.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento Localidades</h5>
                <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
                <a [routerLink]="['/mantenimiento/localidades']" class="btn btn-primary stretched-link">Gestionar localidades</a>
            </div>
        </div>
    </div>
    <div class="col mb-4  ">
        <div class="card ">
            <img src="assets/images/escuela.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento Escuelas</h5>
                <a [routerLink]="['/mantenimiento/escuelas']" class="btn btn-primary stretched-link">Gestionar escuelas</a>
                <!-- <p class="card-text">This is a short card.</p> -->
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/images/calles.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento Calles</h5>
                <a [routerLink]="['/mantenimiento/calles']" class="btn btn-primary stretched-link">Gestionar calles</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/images/vivienda.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento Viviendas</h5>
                <a [routerLink]="['/mantenimiento/viviendas']" class="btn btn-primary stretched-link">Gestionar Vivienda</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/images/tipovivienda.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento Tipo Viviendas</h5>
                <a [routerLink]="['/mantenimiento/tiposviviendas']" class="btn btn-primary stretched-link">Gestionar Tipo Vivienda</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/images/lugartrabajo.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento Lugares de trabajo</h5>
                <a [routerLink]="['/mantenimiento/lugarestrabajo']" class="btn btn-primary stretched-link">Gestionar Lugares</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/images/barrios.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento Barrios</h5>
                <a [routerLink]="['/mantenimiento/barrios']" class="btn btn-primary stretched-link">Gestionar Barrios</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/images/construccion.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento tipo de construcciones</h5>
                <a [routerLink]="['/mantenimiento/construcciones']" class="btn btn-primary stretched-link">Gestionar Construcciones</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="assets/images/inmueble.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Mantenimiento situacion inmueble</h5>
                <a [routerLink]="['/mantenimiento/inmuebles']" class="btn btn-primary stretched-link">Gestionar Inmueble</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card ">
            <img src="assets/images/bolsa.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Modulos Alimenticios</h5>
                <a [routerLink]="['/mantenimiento/modulosalimenticios']" class="btn btn-primary stretched-link">Acceder</a>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card ">
            <img src="assets/images/virus.png" class="mx-auto d-block w-25 h-25" alt="...">
            <div class="card-body">
                <h5 class="card-title">Enfermedades</h5>
                <a [routerLink]="['/mantenimiento/enfermedades']" class="btn btn-primary stretched-link">Acceder</a>
            </div>
        </div>
    </div>
</div>