<!DOCTYPE html>
<html lang="en">

<head>
    <title>Nueva Escuela SIGEPE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->

    <!--  -->

</head>

<div class="container">
    <h1 class="well">Formulario de registro de una escuela</h1>
    <div class="col-lg-12 well">
        <div class="row">
            <form ngNativeValidate [formGroup]="forma" (ngSubmit)="nuevaEscuela()">
                <div class="col-sm-12">
                    <br><br>
                    <div class="alert alert-primary" role="alert">
                        <div class="row">
                            <div class="col-sm-6 form-group">
                                <label>Nombre de la Escuela : </label>
                                <input tabindex="1" formControlName="Escuela" name="Escuela" required type="text" placeholder="Escuela..." class="form-control">

                                <label>Calle : </label>
                                <select tabindex="3" class="custom-select" formControlName="IdCalle" required>
                                    <option value="" disabled>Elija una calle...</option>
                                    <option *ngFor="let calle of calles" [ngValue]="calle.IdCalle">{{ calle.Calle }}</option>
                                 </select>
                                <label>Localidad : </label>
                                <select tabindex="5" class="custom-select" formControlName="IdLocalidad" required>
                                    <option value="" disabled>Elija una localidad...</option>
                                    <option *ngFor="let localidad of localidades" [ngValue]="localidad.IdLocalidad">{{ localidad.Localidad }}</option>
                                 </select>
                            </div>

                            <div class="col-sm-6 form-group">
                                <label>Director : </label>
                                <input tabindex="2" formControlName="Director" name="Director" type="text" placeholder="Director..." class="form-control">

                                <label>N° Calle : </label>
                                <input tabindex="4" formControlName="NroCalle" name="NroCalle" type="text" placeholder="Numero calle..." class="form-control">
                            </div>
                        </div>
                    </div>

                    <br>
                    <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar escuela</button>
                    <br>
                </div>


            </form>
        </div>
    </div>