<!DOCTYPE html>
<html lang="en">

<head>
    <title>Datos grupo familiar SIGEPE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->

    <!--  -->

</head>
<br>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a [routerLink]="['/control']">Control Covid-19</a></li>
        <li class="breadcrumb-item"><a [routerLink]="['/control/censo']">Censo</a></li>
        <li class="breadcrumb-item active" aria-current="page">Grupo Familiar</li>
    </ol>
</nav>
<br>

<div class="container">
    <h1 class="well">Grupo Familiar</h1>
    <form ngNativeValidate [formGroup]="forma" (ngSubmit)="nuevoGrupoFamiliar()">
        <br><br>
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Barrio : </label>
                    <select class="custom-select" formControlName="IdBarrio" required>
                    <option value="" disabled>Elija un barrio</option>
                    <option *ngFor="let barrio of barrios" [ngValue]="barrio.IdBarrio">{{ barrio.Barrio }}</option>
                 </select>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Manzana : </label>
                    <input formControlName="Manzana" name="Manzana" required type="text" placeholder="Manzana..." class="form-control">
                </div>
            </div>
            <br>
            <button type="submit" class="btn btn-info btn-lg btn-block text-uppercase">Cargar Grupo</button>
            <br>
        </div>
    </form>
    <br>

</div>