<!DOCTYPE html>
<html lang="en">

<head>
    <title>Historial SE SIGEPE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->

</head>
<br>
<h4 class="card-title">Historial Socioeconómico de {{ Apellidos }} {{ Nombres }} </h4>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <br>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Fecha</th>
                            <!-- <th>Nombres</th>
                            <th>Usuario</th>
                            <th>Lugar de trabajo</th>
                            <th>Rol</th>
                            <th></th> -->
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <!-- <tr *ngFor="let cliente of clientes" [ngClass]="{'bg-danger text-warning':!cliente.ClasesDisponibles }"> -->
                        <tr *ngFor="let historial of historialSE">

                            <td>{{ historial.Fecha | date:"dd/MM/yyyy"}}</td>
                            <!-- <td>{{ usuario.Nombres }}</td>
                            <td>{{ usuario.Usuario }}</td>
                            <td>{{ usuario.LugarTrabajo }}</td>
                            <td>{{ usuario.Rol }}</td> -->
                            <td><button title="Ver SocioEconomico" [routerLink]="[ '/personas/empleado/socioeconomico', IdPersona , historial.IdSocioeconomico ] " class="btn btn-warning ">
                                <i class="material-icons ">
                                    remove_red_eye
                                    </i>
                                </button></td>
                        </tr>
                    </tbody>
                </table>
                <button (click)="cambiarDesde(-5) " class="btn btn-secondary ">
                    Anteriores
                  </button>

                <button (click)="cambiarDesde(5) " class="btn btn-secondary " style="margin-left: 50px; ">
                      Siguientes
                  </button>
            </div>
        </div>

    </div>

</div>