<!DOCTYPE html>
<html lang="en">

<head>
    <title>SOCIOECONOMICO SIGEPE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon.ico" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/Linearicons-Free-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/assets/css/util.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!--===============================================================================================-->

    <!--  -->

</head>
<div class="container">
    <br>
    <div class="row">
        <div class="col">
            <h4 class="card-title">Datos Socioeconómico de {{ Apellidos }} {{ Nombres }} </h4>
        </div>
        <div class="col" style="left: 300px;">
            <button type="button" class="btn btn-info" [routerLink]="[ '/personas/empleado/socioeconomico/historial/', IdPersona ] ">Ver Historial SocioEc</button>
        </div>
    </div>
</div>


<div class="col-lg-12 well">

    <!-- ============================================================================================== -->
    <!-- ========================== --- Celeste ======================================================== -->
    <!-- ============================================================================================== -->
    <div class="col-sm-60">
        <div class="alert alert-primary" role="alert">
            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Localidad: {{ Localidad }} </label>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Barrio: {{ Barrio }}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Calle: {{ Calle }}</label>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Numero calle: {{ NroCalle }}</label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 form-group">
                    <label>Vinculo: {{ Vinculo }}</label>
                </div>
                <div class="col-sm-6 form-group">
                    <label>Fecha de nacimiento: {{ FechaNac | date:"dd/MM/yyyy"}}</label>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================================================== -->
    <!-- ========================== --- Gris ======================================================== -->
    <!-- ============================================================================================== -->

    <div class="alert alert-dark" role="alert">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Estudios Cursados: {{ EstudiosCursados }} </label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Escuela: {{ Escuela }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Profesion: {{ Profesion }}</label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Situacion Laboral: {{ SituacionLaboral }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Obra Social: {{ ObraSocial }}</label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Problematica Social: {{ ProblSocial }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Tipo de Discapacidad: {{ TipoDiscapacidad }}</label>
            </div>
        </div>
    </div>
    <!-- ============================================================================================== -->
    <!-- ========================== --- 3 - VIVIENDA ======================================================== -->
    <!-- ============================================================================================== -->
    <div class="alert alert-warning" role="alert">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Vivienda: {{ Vivienda }} </label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Modulo : {{ Modulo }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Habitaciones: {{ Habitaciones }}</label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Techo: {{ Techo }}</label>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Piso: {{ Piso }}</label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Baño: {{ Bano }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Agua Corriente: {{ AguaCte }} (S:Si - N:No)</label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Gas Natural: {{ GasNatural }} (S:Si - N:No)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Red Cloacal: {{ RedCloacal }} (S:Si - N:No)</label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Contrato Gas: {{ ContratoGas }} (S:Si - N:No)</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Situacion Inmueble: {{ SituacionInmueble }}</label>
            </div>
            <div class="col-sm-6 form-group">
                <label>Tipo Vivienda: {{ TipoVivienda }}</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Local Comercial: {{ LocalComercial }}</label>
            </div>
        </div>
    </div>
    <!-- ============================================================================================== -->
    <!-- ========================== --- 4 - Observaciones ======================================================== -->
    <!-- ============================================================================================== -->
    <div class="alert alert-success" role="alert">
        <div class="row">
            <div class="col-sm-6 form-group">
                <label>Observaciones: {{ Observaciones }} </label>
            </div>
        </div>
    </div>

</div>